version: 2
jobs:
  unProvisionAZWebApp:
    docker:
      - image: microsoft/azure-cli:latest
    steps:
      # LOGIN ONTO AZURE WITH EXISTING SERVICE PRINCIPAL version2.1
      - run: |
          az login --service-principal -u $AZURE_SERVICE_PRINC --password $AZURE_SERVICE_PRINC_PASSWORD --tenant $AZURE_TENANT
          az webapp delete -n $AZ_WEBAPP_NAME -g $AZ_RESOURCE_GRP
workflows:
  version: 2
  destroy_Infra:
    jobs:
      - unProvisionAZWebApp
